*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
main{
  text-align: center;
  width: 50%;
  margin: auto;
  padding-top: 3%;
  h1{
    padding-bottom: 1.5rem;
  }
  form{
    #input-group{
      margin-bottom: 1rem;
      input{
        padding: 7px;
      }
    }
    #btn-group{
      input{
        padding: 7px;
        border: 1px grey solid;
        cursor: pointer;
        background-color: white;
        transition: all 0.5s;
        &:hover{
          background-color: #EAEDED;
        }
      }
    }
  }
}